.nav-bar{
    margin-bottom: 10px;
    width: 100%;
}
.buttons-container{
    width: 100%;
}
.buttons-container a{
    margin-right: 30px;
    font-family:'Courier New', Courier, monospace;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.buttons-container a h4 {
    margin-right: 5px;
}

.buttons-container .home-buttons-main {
    display: flex;
    margin-left: 30px;
    margin-right: 1200px;
}