.App {
  display: flex;
   /* justify-content: center; */
   /* align-items: center; */
   font-family: 'Courier New', Courier, monospace;
   width: 100%;
   height: 100%;
}

.characters-content {
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
}

.detail-contain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .button-back{
  width: 90%;
  margin-top: 70px;
  margin-left: 30px;
}

.about .button-back .go-home{
  background-color: transparent;
  border: none;
  transition: 0.1s;
}


.about .button-back .go-home:hover{
  transform: scale(1.2);
  transition: 0.1s;
}

.about .button-back .go-home .ahref-about{
  color: rgba(138, 138, 138)
}

.about .button-back .go-home .ahref-about:hover {
  color: #3ab84a;
}

.favorites-container{
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
}